.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 100px;
    padding: 6px 8px;
    background-color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title, .title + .icon {
    margin-left: 8px;
}

.icon {
    height: 20px;
    font-size: 2rem;
}

// Button types
.rounded {
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    border-radius: 52px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: var(--hover-color);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);
    font-weight: 600;

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    min-height: 36px;
    padding: 0 16px;
    font-weight: 600;
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    color: #161823;

    &:hover {
        background-color: var(--hover-color);
    }
}

// Button size
.small {
    min-width: 88px;
    padding: 2px 8px;
}

.large {
    padding: 12px 8px;
    min-width: 156px;
}
