@import 'css-reset-and-normalize';

:root {
    --primary: rgba(254, 44, 85, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --text-color: rgba(22, 24, 35, 1);

    // Hover
    --hover-color: rgba(22, 24, 35, 0.03);

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

button:focus,
input:focus {
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/Proxima-Nova-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/Proxima-Nova-Semibold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/Proxima-Nova-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url("/assets/fonts/sofiapro-bold.woff2");
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        border-radius: 8px;
    }

    .tippy-content {
        padding: 8px 10px;
    }
    
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
    }
}