.menu-list {
    width: 223px;
    padding: 10px 0px 8px;
}

.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 16px;
    background-color: var(--white);
    cursor: pointer;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: var(--hover-color);
    }

    &:last-child {
        margin-bottom: 8px;
    }
}

// Header
.header {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: -8px;
}

.header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-left: 24px;
}

.back-btn {
    width: 48px;
    height: 100%;
    padding-left: 28px;
    background-color: var(--white);
    cursor: pointer;
}
