.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;

    &:hover {
        cursor: pointer;
        background-color: var(--hover-color);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    margin-left: 12px;
    flex: 1;
}

.name {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    svg {
        margin-left: 4px;
    }
}   

.username {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
