.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    height: 42px;
}

.action {
    display: flex;
    align-items: center;
}

.action-btn {
    height: 32px;
    margin-left: 16px;
    background-color: transparent;
    cursor: pointer;

    & svg {
        display: block;
    }

    &.messages {
        font-size: 2.6rem;
        padding: 0 3px 0;
    }

    &.inbox {
        font-size: 3.2rem;
        padding: 0;
    }
}

.user-avatar {
    margin-left: 24px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.more-btn {
    display: flex;
    font-size: 2rem;
    margin-left: 16px;
    padding: 2px 4px;
    background-color: var(--white);
    cursor: pointer;
}
